.fixed {
  position: sticky;
  top: 0;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  height: 56px;
  background-color: #D90A01;
  align-items: center;
}

.f-menu {
  padding-left: 100px;
  color: white;
  font-style: italic;
}

.top2 a {
  text-decoration: none;
  color: white;
  padding-left: 90px;
}

.s-menu {
  color: white;
  padding-right: 100px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*height: 86px;*/
  background-color: #181818;
}

.nav ul li {
  display: inline-block;
  padding: 20px;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}

.nav :hover {
  color: #D90A01 !important;
}

/* ul .active, */

.active a:visited {
  color: #D90A01 !important;
}

.sub-menu-1 {
  display: none;
}

.nav ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  margin-top: 20px;
  margin-right: 5px;
  width: 292px;
  height: 125px;
  text-align: center;
}

.nav ul li:hover .sub-menu-1 ul li {
  display: block;
}

.sub-menu-2 {
  display: none;
}

.nav ul li:hover .sub-menu-2 {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  margin-top: 20px;
  margin-right: 5px;
  width: 292px;
  height: 186px;
  padding-bottom: 20px;
}

.nav ul li:hover .sub-menu-2 ul li {
  display: block;
}

/* .active */

.sub-menu-2 ul li a {
  color: white;
}

.fa-chevron-down {
  color: white;
}

.fa-chevron-down:visited {
  color: #D90A01;
}

.active, .fa-chevron-down:visited {
  color: #D90A01 !important;
}

.logo {
  padding-left: 100px;
}

.btn-top {
  padding-right: 90px;
}

.top-btn {
  color: white;
  background-color: #dc0a00;
  padding: 16px 56px;
  border-radius: 100px;
  margin-left: 40px;
}

.bars {
  color: white;
  font-size: 15px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(0,0,0,0.9), rgb(0,0,0,0.9)), url(/images/Rectangle\ 44.png);
  /*background: rgba(0, 0, 0, 0.9), url(/images/Rectangle\ 44.png);*/
  background-size: cover;
  max-width: 100%;
  height: 648px;
  /*z-index: 10;*/
}

.hero-content {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 73.14px;
}

.cap {
  padding: 30px;
  padding-left: 130px;
  font-size: 12px;
}

.small {
  /*padding-bottom: 20px;*/
  padding-left: 130px;
}

/* .header{
  border-radius: 20px 20px 0px 0px;
  padding: 10px 0px;
  background: purple;
  color: #fff;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
} */

.faq-item {
  margin-bottom: 40px;
  margin-top: 40px;
  background: #d9d9d9;
  border-radius: 10px;
  font-size: 15px;
  padding: 40px;
  width: 1104px;
  border: none;
}

.hr {
  text-decoration: none;
}

.faq-body {
  display: none;
  margin-top: 30px;
  font-weight: 300;
}

.faq-wrapper {
  width: 85%;
  margin: 0 auto;
}

.faq-inner {
  padding: 10px;
  /*background: aliceblue;*/
}

.faq-plus {
  float: right;
  font-size: 1.4em;
  line-height: 1em;
  cursor: pointer;
}

/* hr{
  text-decoration: none;
} */

#foot {
  padding: 100px 0;
  margin: auto;
  max-width: 1609px;
  max-height: 623px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.footer-container {
  max-width: 1256px;
  margin: auto;
}

.footer-1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

input[type=submit] {
  background: #D90A01;
  width: 130.83px;
  height: 54px;
  left: calc(50% - 130.83px/2 + 566.75px);
  bottom: 504px;
  border-radius: 0px 100px 100px 0px;
  border: none;
  color: white;
  text-transform: uppercase;
}

input[type=email] {
  /*background: rgba(255, 255, 255, 0.9);*/
  /*border-radius: 0px 100px 100px 0px;*/
  /*height: 54px;*/
  /*width: 500.34px;*/
  /*border: none;*/
  margin: 0;
  width: 500.34px;
  height: 54px;
  left: calc(50% - 500.34px/2 + 251.17px);
  bottom: 505px;
  border-radius: 100px 0px 0px 100px;
  border: none;
}

input[type=submit2] {
  background: #D90A01;
  width: 130.83px;
  height: 40px;
  border-radius: 100px;
  border: none;
  color: white;
  text-transform: uppercase;
}

.footer-2 {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.social {
  padding-top: 12.5px;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.social .facebook {
  margin: 10px;
}

.social .instagram {
  margin: 10px;
}

.social .linkedin {
  margin: 10px;
}

.readjust {
  padding-bottom: 12.5px;
}

.footer-menu {
  padding-top: 70px;
}

.footer-menu li {
  list-style: none;
  padding: 10px;
}

.footer-menu li a {
  color: white;
  text-decoration: none;
}

.organization-info {
  padding-top: 70px;
}

.organization-info h2 {
  padding-bottom: 10px;
}

.organization-info h4 {
  padding-top: 20px;
}

.phones a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

/* #email{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 100px 0px 0px 100px;
    width: 500.34px;
height: 54px;
bottom: 505px;
  } */

