* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
}

/* HELP LINE */

.helpline__container {
  background-color: #c31818;
}

.row {
  width: 100%;
  background: rgba(254, 152, 152, 0);
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: #3d3c3c;
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link:active {
  color: var(--bs-navbar-active-color);
}

div {
  /*background: var(--bs-red);*/
}

.hero__section {
  background: linear-gradient(rgba(24,24,24,0.85) 2%, #181818), url("/assets/img/Rectangle%20109.png?h=acf500afbd1b61ed7b62fbd797d89c7a") center / cover no-repeat;
  height: calc(100vh - 4.3rem - 6rem);
}

.hero__heading {
  font-size: 7rem;
}

.img-item-1 {
  padding: 2rem;
  height: 2rem;
  width: 2rem;
  background-color: red;
  border-radius: 50%;
}

.section1__image {
  width: 34rem;
}

#what_we_do {
}

.what_we_do-container {
  background: #e8e4e1;
}

#search__input {
  text-indent: 3rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: 5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search__input::placeholder {
  font-size: 1.7rem;
}

#search__button {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion-item {
  background-color: #e8e4e1;
}

